@media (min-width: 480px) {
  .wrapper {
     width: 480px;
     margin: 10% auto 10% auto;
  }
  .column {
    width: 100%;
  }
}

@media (min-width: 768px){
  .wrapper {
    margin: 75px auto 130px auto;
    width: 680px;
  }
  .column {
    float: left;
    width: 50%;
  }
}

.rframe {
  clip-path: circle(115px at center);
  margin-top: 100px;
}

#invis1 {
  color: #f2dcaa;
}

#invis2 {
  color: #f2dcaa;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



body {
  background-image: linear-gradient(#ff8880, #ffffff);
  font-family: 'Aleo';
  color: #292929;
  font-size: 17px;
}

h1 {
  font-family: 'Big Shoulders Stencil Text';
  font-size: 68px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}