.column {
  width: 50%;
}

#column1 {
  align-content: center;
}

#column2 {
  align-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  background-color: #c9fdff;
}

h1 {
  text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;;
}